 
 
 .header{
    /* width: 50%; */
    height: 70px;
    background-color:green;
}
.topic{
    text-align: center;
}
.grow{
    width: 50%; 
    height: 50px;
    text-align: center;
    margin: 0 auto;
}   
.header{
     align-items: center;
   
}
.container{ 
    height: 70px;
    background-color: darkgreen;
    display: flex;
    
}
.flex > div div{
    background-color: lawngreen;
    margin: 0 auto;
    padding: 30px;
    display: flex;
   }

.A{
    background-color: indianred;
    padding: 30px; 
    flex-grow: 2;
} 

.B{
    background-color: blue;
    padding: 30px;  
    flex-grow: 2,5;
}   
.C{
    background-color: rgb(187, 35, 149);
    padding: 30px;
    flex-grow: 2.5;
    
 }